.assets {
  flex-grow: 1;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;

    &>*+* {
      margin-left: 30px;
    }
  }
}