.dashboard {
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;

  display: flex;
  max-width: 1439px;

  background: #202020;
  border-radius: 50px;

  &__nav {
    flex-shrink: 0;
    width: 138px;
    padding-top: 40px;
    padding-bottom: 75px;
  }

  &__body {
    flex-grow: 1;
    margin: 15px;
    margin-left: 0;
    padding: 26px 60px;
    background: #ffffff;
    border-radius: 45px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    &-icons {
      display: flex;
      flex-wrap: wrap;

      &>* {
        margin-right: 16px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

    &>*+* {
      margin-left: 30px;
    }
  }

  &__market {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    &>*+* {
      margin-left: 30px;
    }
  }
}